/* Chosen Colors */
/*Header: #5A69FF */
/*Text: #F2F2F2 or #292929 */ 
/*Logo: #F2F2F2*/
/*Background: #E3E7FF*/
/*Accent: #8C97FF */
/*Complimentary: #FFCA4A */
/*_________________________________________________________________________________ */
/*Darkmode Header: */
/*Darkmode Text: */
/*Darkmode Logo: */
/*Darkmode Background: */
/*Darkmode Accent: */
/*Darkmode Complimentary: */
/*_________________________________________________________________________________ */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    background-color: #E3E7FF;
    min-height: 100%;
    cursor:default;
}

/*_________________________________________________________________________________ */

/* Navigation Header START */
.topnav{
    background-color: #5a69ff;
    top: 0px;
    display: flex;
}

.headerImage{
display: flex;
margin-left: 5vh;
}

.Navigation-Options-Parent{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.Navigation-Options-list{
    align-content: center;
}

.Nav-Buttons{
    list-style: none;
    text-decoration: none;
    font-size: x-large;
    color: #F2F2F2;
    background-color: #8b96ff;
    padding: 7.5px;
    padding-left: 5vh;
    padding-right: 5vh;
    border-radius: 10px;
    margin-right: 8vh;
}

.Nav-Buttons:hover{
    list-style: none;
    text-decoration: none;
    font-size: x-large;
    color: #292929;
    background-color: #FFCA4A;
    padding: 7.5px;
    padding-left: 5vh;
    padding-right: 5vh;
    border-radius: 15px;
}

/*_________________________________________________________________________________ */

